<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>central</id>
            <username>ops01</username>
            <password>AP3EdPXbkcvejeXEvKTMFmx2EFo</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>ops01</username>
            <password>AP3EdPXbkcvejeXEvKTMFmx2EFo</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>dev</id>
            <activation>
                <jdk>1.8</jdk>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>ssc-center</name>
                    <url>http://localhost:8082/artifactory/ssc-center/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <layout>default</layout>
                </repository>
                <repository>
                    <id>snapshots</id>
                    <name>ssc-snapshot</name>
                    <url>http://localhost:8082/artifactory/ssc-snapshot/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>dev</activeProfile>
    </activeProfiles>
    <mirrors>
        <!--
      <mirror>
                  <id>alimaven</id>
                  <name>aliyun maven</name>
                  <url>http://maven.aliyun.com/nexus/content/groups/public/</url>
                   <mirrorOf>central</mirrorOf>
            </mirror>
            -->
        <mirror>
            <id>ssc-center</id>
            <name>ssc-center</name>
            <url>http://localhost:8082/artifactory/ssc-center/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
